body {
  display: flex;
  font-family: $font-family;
  @include font(14px, 500);
  color: getTextColor("main-content");
  background-color: getBgc("main");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  cursor: pointer;
}

.main-content {
  padding-top: 41px;
  padding-right: 28px;
}

.greeting {
  margin-bottom: 57px;
  @include font(24px, 500, 0em);
  color: getTextColor("greeting");
}
