.customers-table {
  border-collapse: collapse;
  width: 968px;
  height: 587px;

  &__caption {
    position: fixed;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -22%);
    width: 90vw;
    padding-top: 20px;
    padding-bottom: 58px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: getBgc("secondary");
  }

  &__heading {
    @include font(22px, 600);
    color: getTextColor("table-name");
    margin-bottom: 7px;
    text-align: center;
  }

  &__status-note {
    color: getTextColor("status-note");
    text-align: center;
  }

  &__head tr {
    border-bottom: 1px solid getBorderColor("pagination-btn");
  }

  &__head th {
    padding: 100px 0 14px;
    font-weight: 500;
    color: getTextColor("secondary");
  }

  &__head th:not(:last-child) {
    text-align: left;
  }

  &__head th:nth-child(1) {
    padding-left: 38px;
    padding-right: 57px;
  }

  &__head th:nth-child(2) {
    padding-right: 61px;
  }

  &__head th:nth-child(3) {
    padding-right: 52px;
  }

  &__head th:nth-child(4) {
    padding-right: 168px;
  }

  &__head th:nth-child(5) {
    padding-right: 78px;
  }

  &__head th:nth-child(6) {
    padding-right: 67px;
    padding-left: 18px;
  }

  &__body td {
    padding: 20px 0;
    border-bottom: 1px solid getBorderColor("pagination-btn");
    text-align: left;
  }

  &__body td:first-child {
    width: 38px;
  }

  &__body td:last-child {
    width: 49px;
  }

  &__body td:empty {
    border-bottom: none;
  }

  &__status-btn {
    width: 80px;
    height: 29px;
    border: 1px solid getBorderColor("inactive-btn");
    border-radius: 4px;
    color: getTextColor("inactive-btn");
    background-color: getBgc("inactive-btn");
    outline: none;

    @media (hover: hover) {
      &:hover,
      &:focus {
        box-shadow: inset 0 0 16px 2px getBorderColor("inactive-btn");
        transition: box-shadow 280ms $cubic;
      }
    }
  }

  &__status-btn--active {
    color: getTextColor("active-btn");
    background-color: getBgc("active-btn");
    border-color: getBorderColor("active-btn");

    @media (hover: hover) {
      &:hover,
      &:focus {
        box-shadow: inset 0 0 16px 2px getBorderColor("active-btn");
        transition: box-shadow 280ms $cubic;
      }
    }
  }
}

@media screen and (min-width: 431px) {
  .customers-table {
    &__caption {
      position: static;
      width: auto;
      margin-bottom: 37px;
      padding: 0 0 0 38px;
      transform: translate(0, 0);
      border-radius: 0;
    }

    &__heading,
    &__status-note {
      text-align: left;
    }

    &__head th {
      padding-top: 0;
    }
  }
}
