.pagination {
  display: flex;

  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__item:nth-child(6) {
    width: 9px;
    user-select: none;
  }

  &__btn {
    width: 24px;
    height: 24px;
    padding: 0;
    font-size: 12px;
    line-height: 1;
    border: 1px solid getBorderColor("pagination-btn");
    border-radius: 4px;
    color: getTextColor("pagination-btn");
    background-color: getBgc("pagination-btn");

    &--accent {
      color: getTextColor("accent");
      background-color: getBgc("accent");
      border-color: getBgc("accent");
    }
  }
}
