.side-bar {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  padding: 36px 16px;
  background-color: getBgc("secondary");

  &--hidden {
    display: none;
  }
}

.logo {
  display: flex;
  margin-bottom: 53px;

  &__icon {
    height: 37px;
  }

  &__text {
    @include font(26px, 600, 0.01em);
    margin-left: 8px;
    color: getTextColor("app-name");
  }

  &__subtext {
    @include font(10px, 500);
    margin-left: 4px;
    color: getTextColor("app-version");
  }
}

.nav-menu {
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 46px;
    color: getTextColor("nav-menu-item");
  }

  &__item {
    cursor: pointer;
  }

  &__item:not(:last-child) {
    margin-bottom: 18px;
  }

  &__icon {
    fill: getTextColor("nav-menu-item");
    stroke: getTextColor("nav-menu-item");
    pointer-events: none;

    position: absolute;
  }

  &__icon:first-child {
    top: 11px;
    left: 11px;
  }

  &__icon:last-child {
    top: 15px;
    right: 8px;
  }

  &__link {
    width: 100%;
    padding-left: 49px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: inherit;
  }
}

@media screen and (min-width: 431px) {
  .side-bar {
    width: 306px;
    margin-right: 71px;
    padding: 36px 28px 0;
  }

  .nav-menu {
    &__item {
      width: 250px;
    }

    &__item--accent {
      border-radius: 8px;
      color: getTextColor("accent");
      background-color: getBgc("accent");
    }

    &__item--accent &__icon {
      fill: getTextColor("accent");
      stroke: getTextColor("accent");
    }
  }
}
